.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 1872px;
  height: 1404px;

  padding: 128px;

  &.light {
    background-color: #fff;
    color: #000;
  }

  &.dark {
    background-color: #000;
    color: #fff;
  }

  div {
    line-height: 1.15;
  }
}
